#body {
    background-color: aliceblue;
}

#foot {
    font-weight: lighter;
    font-size: 10px;
}

.context {
    margin-top:10px;
    width:85%;
    height: 35px;
}


.address {
    width:83%;
    height: 35px;
    border-bottom-color: cornflowerblue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.text {
    margin-top:10px;
    width: 100%;
    height: 420px;
    border-radius:5px;
    font-size: 22px;
    font-family: "Apple LiGothic";
}


.first {
    color: black;
    font-weight: bolder;
    font-size: 27px;
    width:95%;
    height: 35px;
    border-color: transparent;
    overflow-y:hidden;
}

.second {
    width:95%;
    height: 25px;
    overflow-y:hidden;
    border-color: transparent;
    color: lightslategray;
    font-size: 15px;
}

.page1 {
    height: 600px;
    width: 95%;
}

.page2 {
    height: 600px;
    width: 95%;
}

.page1Text {
    width: 90%;
    color: cornflowerblue;
    border-color: transparent;
    overflow-y:hidden;
}

.page1Input {
    width: 90%;
    color: cornflowerblue;
    height: 100%;
    font-size: 20px;
    border-bottom-color: cornflowerblue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.wait {
    width: 75%;
    letter-spacing:1px;
    font-size: 30px;
    color: lightslategray;
    border-color: transparent;
    overflow-y:hidden;
}
