#body {
    background-color: aliceblue;
}

#foot {
    font-weight: lighter;
    font-size: 10px;
}

.page1 {
    height: 600px;
    width: 60%;
    margin:0 auto;
}


.page1Text {
    width: 90%;
    color: cornflowerblue;
    border-color: transparent;
    overflow-y:hidden;
}

.page1Input {
    width: 70%;
    color: cornflowerblue;
    height: 100%;
    font-size: 20px;
    border-bottom-color: cornflowerblue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.page1Info {
    width: 70%;
    height: 150px;
    border-radius:5px;
    font-size: 22px;
    font-family: "Apple LiGothic";
}